.exercicio02 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "verde verde azul azul azul"
        "verde verde marrom marrom verdeescuro"
        "rosa rosa marrom marrom cinza";
    width: 950px;
    height: 600px;
    gap: 10px;
}

.verde {
    grid-area: verde;
    background-color: green;

}

.azul {
    grid-area: azul;
    background-color: aqua;
}

.marrom {
    grid-area: marrom;
    background-color: brown;

}

.rosa {
    grid-area: rosa;
    background-color: pink;
}

.verdeescuro {
    grid-area: verdeescuro;
    background-color: darkgreen;
}

.cinza {
    grid-area: cinza;
    background-color: gray;
}

.bord {
    border-radius: 30px
}